<% provide :title, "Dashboard" %>
<% provide :dashb_is_active, "active" %>

<div class="row">
  <div class="col m6 s12 l6 xl6 announcements">
    <%= render 'announcements/card' %>
  </div>

  <div class="col m6 s12 l6 xl6 events">
    <%= render 'events/card' %>
  </div>

  <div class="col m6 s12 l6 xl6 tasks">
    <%= render 'tasks/card' %>
  </div>
</div>
