<div class="card hoverable">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>

  <div class="card-content">
    <span class="card-title activator">お知らせ</span>
  </div>

  <div class="card-stacked">
    <div class="card-content">
      <ul class="collection">
        <% @announcements.each do |anc| %>
          <% break if @announcements.nil? %>
          <%= render 'announcements/column', announce: anc %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
