<div class="card hoverable">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>

  <div class="card-content">
    <span class="card-title activator">お知らせ</span>
  </div>

  <div class="card-stacked">
    <div class="card-content">
      <% unless @announcements.nil? %>
        <ul class="collection">
          <% @announcements.each do |anc| %>
            <%= render 'announcements/column', announce: anc %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
