<% provide :title, "All Announcement" %>
<% provide :announcements_is_active, "active" %>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title activator">お知らせ</span>
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <% unless @announcements.empty? %>
            <ul class="collection">
              <% @announcements.each do |anc| %>
                <%= render 'announcements/column', announce: anc %>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="card-action">
          <%= link_to new_announcement_path, remote: true, class: 'btn waves-effect waves-light' do %>
            NEW
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
