<div class="row">
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title activator">GenConからのお知らせ<i class="material-icons right">settings</i></span>
      </div>

      <div class="card-stacked">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#tab1">今日</a></li>
            <li class="tab"><a href="#tab2">明日</a></li>
          </ul>
        </div>

        <div class="card-content">
          <div id="tab1">
            <ul class="collection">
              <li class="collection-item">ゴミ出し</li>
              <li class="collection-item">天気</li>
            </ul>
          </div>
        </div>

        <div class="card-action">
          <a class="btn waves-effect waves-light">NEW<i class="material-icons right">add</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
