<%= form_tag('/settings/trash_rotation', method: :patch, authenticity_token: true) do |f| %>
  <table class="materialized centered responsive-table">
    <thead>
      <tr>
        <% hash.each_key do |key| %>
          <th>
            <div class="chip">
              <%= Setting.languaged_days[key] %>
            </div>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% hash.each_with_index do |val, day| %>
          <td>
            <%= select_tag "trash_rotation[#{day}]",
              options_for_select(Setting.languaged_trash_kinds.invert)
            %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>