<table class="materialized centered responsive-table">
  <thead>
    <tr>
      <% hash.each_key do |key| %>
      <th>
        <div class="chip">
          <%= Setting.languaged_days[key] %>
        </div>
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% hash.each_value do |value| %>
        <td><%= value %></td>
      <% end %>
    </tr>
  </tbody>
</table>
