<% provide :title, "Settings" %>
<% provide :settings_is_active, "active" %>

<h4>設定</h4>

<% @settings.each_key do |key| %>
  <div class="card hoverable s6">
    <div class="card-content">
      <span class="card-title"><%= Setting.jp_translated_settings[key] %></span>
      <%= link_to edit_setting_path(key) %>
    </div>
    <div class="card-content">
      <% if @settings[key].is_a? Hash %>
        <%= render 'table_hash', hash: @settings[key] %>
      <% else %>
        <%= @settings[key] %>
      <% end %>
    </div>
  </div>
<% end %>
