@import "materialize/components/color";
$primary-color: color("teal", "base") !default;
$primary-dark-color: color("teal", "darken-3") !default;
$secondary-color: color("cyan", "accent-4") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "fullcalendar/dist/fullcalendar";
@import "./*";

#loading-effect {
  position: absolute;
  top: 35%;
  left: 50%;
}

a:visited {
  color: white;
  text-decoration: none;
}



.progress {
  margin: 0px;
  display: none;
  z-index: 1;
}
