@import "materialize/components/color";
$primary-color: color("teal", "base") !default;
$primary-dark-color: color("teal", "darken-3") !default;
$secondary-color: color("cyan", "accent-4") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "fullcalendar";
@import "./*";

#loading-effect {
  position: absolute;
  top: 35%;
  left: 50%;
}

a:visited {
  color: white;
  text-decoration: none;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 130%;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
