<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><%= yield :title %></a>
      <a href="" class="button-collapse" data-activates="sidenav" >
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%= render 'layouts/navigations' %>
      </ul>
  </nav>
</div>
